@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --dark-gray: #292929;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    background-color: var(--dark-gray);
    font-family: 'Roboto';
    color: var(--white);
}

header{
    display: flex;
    position: relative;
    width: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100vw;
    padding: 0 2rem;
    text-align: center;
}

@media screen and (max-width: 20rem) {
    body{
        display: flex;
        flex-direction: column;
    }
    header{
        flex-direction: column;
    }
}